@font-face{
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face{
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

body{
    width: calc(100vw - (100vw - 100%));
}

input[type='number'] {
    -moz-appearance: textfield;
}

html {
    overflow: -moz-scrollbars-none;
}

nav{
    height: 50px;
    position: fixed;
    z-index: 50;
    width: 100%;
    padding-left: calc(8.2% - 10px);
    padding-right: 8.2%;
    background: #000;
    top: 0;
}

#hamburger-menu{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
}

#menu-toggle {
    display: none;
  }

.menu-btn {
    display: none;
    align-items: center;  
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 4;
    margin: 0;
}

.menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

#menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #000;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 3;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    font-size: 20px;
    color: #000;
}

#search{
    margin-left: auto;
}

#search button{
    background: #000;
    color: #fff;
    outline: none;
    border: none;
}

#search button i{
    font-size: 36px;
    cursor: pointer;
}

#shopping-cart{
    cursor: pointer;
    line-height: 36px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#shopping-cart button{
    color: #fff;
    background: #000;
    border: none;
    line-height: 36px;
    cursor: pointer;
}

#shopping-cart:active{
    font-size: 40px;
    transition: all 0.2s ease;
}

#shopping-cart i {
    line-height: 36px;
    font-size: 36px;
    height: 36px;
    display: block;
}

#login{
    height: 37px;
    cursor: pointer;
    text-align: right;
    padding-right: 2px;
    margin-left: 10px;
}

#login button {
    line-height: 36px;
    font-size: 36px;
    color: #fff;
    background: #000;
    border: none;
    cursor: pointer;
}

#menu-login:not(input){
    position: absolute;
    top: 17px;
    right: 27px;
    cursor: pointer;
}

.menu-item a{
    text-decoration: none;
    color: #000;
}

.menu-item:hover {
    background-color: #494949;
}

#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn{
    position: fixed;
    top: 12.5px;
    left: 12.5px;
}

#menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked ~ #menu-box {
    visibility: visible;
    left: 0;
}

.menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
    transition-duration: .25s;
}

#menu-box {
    transition-duration: .25s;
}

.menu-item {
    transition-duration: .25s;
}

#top-nav-menu{
    display: flex;  
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 50px;
    color: #fff;
}

#actual-page{
    background: #494949;
}

.top-nav-menu-item:not([id]):hover{
    background: #494949;
    transition: all 0.4s ease;
}

.top-nav-menu-item a{
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    display: block;
    padding: 0 10px;
    line-height: 50px;
}

#login{
    position: relative;
}

#user-modal{
    position: absolute;
    right: -74px;
    top: 60px;
    width: 200px;
    height: 120px;
    background: #000;
    border: 1px solid #000;
    cursor: auto;
    border-radius: 6px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.active-modal{
    display: flex;
}

#user-modal a{
    display: block;
    width: 80%;
    color: #000;
    border: 1px solid #fff;
    font-size: 18px;
    background: #fff;
    border-radius: 6px;
}

#user-modal a:hover{
    background: #000;
    color: #fff;
    transition: all 0.4s ease;
}

.disactive-modal{
    display: none;
}

#user-modal::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    position: absolute;
    top: -15px;
    right: calc(50% - 15px);
}

#search-container{
    display: block;
    width: 100vw;
    height: 40px;
    background: #212121;
    position: fixed;
    left: 0;
}

#search-form{
    width: calc(83.6% - 18px);
    margin-left: 8.2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#search-text{
    height: 100%;
    display: block;
    width: calc(100% - 27px);
    color: #fff;
    background: transparent;
    border: none;
    font-size: 18px;
}

#search-text:focus{
    outline: none;
}

#search-submit{
    height: 40px;
    background: #212121;
    color: #fff;
    border: none;
    cursor: pointer;
}

#search-results{
    position: fixed;
    top: 90px;
    width: 83.6%;
    left: 8.2%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    padding-top: 5px;
    background: #212121;
}

.mini-good{
    width: 100%;
    background: #212121;
    color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.mini-good hr{
    color: #757575;
    width: 95%;
    margin: 5px 0;
}

.mini-good:last-child{
    height: 60px;
}

.mini-good:last-child hr{
    display: none;
}

.mini-good a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.mini-good img{
    width: 50px;
    margin-left: 10px;
}

.mini-name{
    display: block;
    margin-right: auto;
    margin-left: 20px;
}

.mini-price{
    margin-right: 20px;
}

input[type="text"]::-webkit-input-placeholder {
    font-size: 18px;
} 

input[type="text"]::-moz-placeholder {
    font-size: 18px;
}

main{
    margin-right: 8.2%;
    margin-left: calc(29.2% + 20px);
    padding: 40px 0;
    margin-bottom: 40px;
    min-height: calc(100vh - 350px);
}

.good{
    border: 1px solid #777;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 470px;
    text-align: center;
    padding: 10px 10px 15px 10px;
    overflow: hidden;
}

.good:hover{
    box-shadow: 0px 0px 7px #616161;
    transition: all 0.4s ease;
}

.good img{
    width: 250px;
    height: 250px;
    margin: 10px 0;
    cursor: pointer;
}

.good-descr p{
    padding: 0 5px;
    width: calc(100% - 20px);
}

.old-price{
    color: #777;
    font-size: 18px;
    position: relative;
}

.old-price::after{
    content: '';
    position: absolute;
    top: 43%;
    left: 10%;
    width: 80%;
    height: 2px;
    background: #f44336;
    transform: rotate(-7deg);
}

.good-price{
    font-family: Roboto-Bold;
    font-size: 24px;
}

.good-buttons{
    width: 100%;
    display: flex;
    padding: 0 10px;
}

.good-buttons button:not(.buy){
    background: none;
    cursor: pointer;
}

.buy{
    font-size: 18px;
    border: 1px solid #000;
    background: #000;
    border-radius: 6px;
    padding: 5px 10px;
    color: #fff;
    height: 40px;
    width: 100px;
    margin-right: auto;
    text-decoration: none;
    line-height: 28px;
}

.buy:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.4s ease;
    cursor: pointer;
}

.add-to-chosen-button i{
    color: #f44336;
}
.add-to-chosen-button{
    margin-right: 10px;
}

.add-to-cart-button, .add-to-chosen-button{
    cursor: pointer;
    display: block;
    height: 40px;
}

.add-to-cart-button i, .add-to-chosen-button i{
    line-height: 40px;
}
#goods{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.fa-sort-amount-up{
    margin-right: 10px;
}

#goods-filters form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 45px;
}

#goods-filters article{
    display: flex;
    padding-right: 20px;
}

.dropdown-container:not(#goods-number){
    max-width: 170px;
    min-width: 120px;
}

#goods-filters article  div:not(.dropdown-container){
    display: flex;
}

#goods-filters article  div:not(.dropdown-container) *{
    display: block;
    line-height: 46px;
    font-size: calc(12px + 2 * ((100vw - 320px) / 1030));
}

#goods-filters .dropdown-container {
    display: block;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    list-style-type: none;
    cursor: pointer;
    line-height: 46px;
}

#goods-filters .dropdown-container p{
    color: #616161;
    font-size: calc(12px + 2 * ((100vw - 320px) / 1030));
}

#goods-filters  li:hover {
    cursor: pointer;
    transition: all 0.4s ease;
}

#goods-filters  .dropdown-container ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    text-decoration: none;
    width: 110%;
    box-shadow: 1px 1px 5px #bdbdbd;
}

#goods-filters  .dropdown-container:hover > ul,
#goods-filters  .dropdown-container ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 3;
    background-color: #fff;
}

#goods-filters  .dropdown-container ul li {
    clear: both;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    list-style-type: none;
    color: #616161;
    font-size: calc(12px + 2 * ((100vw - 320px) / 1030));
}

#goods-filters  .dropdown-container ul li:hover{
    background-color: #bdbdbd;
}

button[type="reset"]{
    border: none;
}

.good-amount{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.good-descr{
    display: flex;     
    flex-direction: column;
    justify-content: space-between;
}

#scroll-up-button{
    position: fixed;
    bottom: 5.5vw;
    right: 5.5%;
    cursor: pointer;
}

.add-to-cart{
    margin-right: 10px;
}

#cart-wrapper{
    position:fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    z-index: 100;
}

#cart-container{
    top: 1.75rem;
    left: 10vw;
    width: 83.6%;
    height: auto;
    margin: 1.75rem auto;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cart-container h2{
    background: #000;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 54px;
    color: #fff;
}

#content{
    color: #000;
    background: #fff;
    width: 100%;
    overflow-y: scroll;
    max-height: 520px;
}


#content h3{
    font-size: 32px;
    text-align: center;
    margin: 1.75rem 0;
    display: block;
}

.container-good, #headers{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(5, 10% 50% 10% 10% 20%);
    padding-left: 20px;
}

#headers{
    margin-bottom: 0;
}

.container-good:nth-child(even){
    background: #eeeeee;
}

#total-quantity, #total-sum{
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
}

#headers p{
    text-align: center;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

.container-good div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-good div:nth-child(2){
    justify-content: flex-start;
}

.container-good-image img{
    width: 100px;
    display: block;
}

#cart-buttons{
    border-top: 1px solid #e0e0e0;
    background: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cart-buttons a{
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

#continue-shopping{
    background: #757575;
}
#continue-shopping:hover, #cart-buttons #continue-shopping-empty:hover{
    transition: all 0.4s ease;
    background: #494949;
}

#cart-buttons #continue-shopping-empty{
    width: 100%;
    height: 100%;
    background: #757575;
    border-radius: 0px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

#reset-cart{
    background: #c62828;
}

#reset-cart:hover{
    transition: all 0.4s ease;
    background: #8e0000;
}

#submit-order{
    background: #2e7d32;
}

#submit-order:hover{
    transition: all 0.4s ease;
    background: #005005;
}

#pagination{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    overflow: hidden;
    list-style-type: none;
    grid-column: 1/4;
}

#pagination > div{
    border: 1px solid #212121;
    display: flex;
    align-items: center;
    height: 50px;
}

#pagination a:not(.prev):not(.next){
    display: block;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.next, .prev{
    display: block;
    width: 50px;
    background-color: #000;
    color: #fff;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 10;
    border: 1px solid #000;
}

.next a i, .prev a i{
    color: #fff;
}

.next{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;
}

.prev{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
}

.current{
    font-size: 20px;
    color: #000;
    margin: 0 10px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #000;
    text-align: center;
    padding: 25px 8.2%;
    display: flex;     
    flex-direction: column;
    justify-content: space-between;
}

#footer-wrapper{
    display: flex;     
    justify-content: space-between;
}

.footer-list{
    border-top: 2px solid #fff;
    padding-top: 30px;
    min-width: 154px;
    text-align: left;
    margin-right: 20px;
}

.footer-list li{
    line-height: 36px;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.footer-list li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

#soc-net{
    margin-left: auto;
}

#social-wrapper{
    display: flex;     
    justify-content: flex-start;
    padding-bottom: 52px;
}
 
#copyright{
    font-size: calc(13px + 4 * ((100vw - 320px) / 1080));
    text-align: center;
    color: #fff;
} 

#list-socials{
    display: flex;     
    align-items: center;
}

#list-socials a, #socials a{
    text-decoration: none;
}

#list-socials i, #socials i{
    display: block;
    margin: 0 5px;
}

#list-socials i:not(.fa-vk), #socials i:not(.fa-vk){
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}

#socials{
    display: none;
}

.modal{
    position: fixed; 
    display: flex;
	left: 8.2%; 
	width: 83.6%; 
	color: #fff; 
	height: 50px;
	background-color: #bdbdbd; 
	border-radius: 5px;
	padding: 0 10px;
	justify-content: space-between;
	align-items: center;
}

.modal p{
	line-height: 50px;
}

.fa-times{
	cursor: pointer;
}

@media screen and (min-width: 1660px){
    #goods{
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (max-width: 1260px){
    #main #goods{
        grid-template-columns: repeat(2, 1fr);
    }
    #pagination {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 960px){
    aside{
        display: none;
    }
    
    #top-nav-menu{
        justify-content: space-between;
    }

    main{
        width: 100%;
        margin: 0;
        padding: 0 8.2%;
        margin-bottom: 40px;
    }

    #main #goods{
        grid-template-columns: repeat(3, 1fr);
    }

    #pagination {
        grid-column: 1/4;
    }
}

@media screen and (max-width: 910px){
    #cart-wrapper table th:last-child{
        width: 20%
    }

    #cart-wrapper table th:nth-child(2){
        width: 30%;
    }
}

@media screen and (max-width: 870px){
    #main #goods{
        grid-template-columns: repeat(2, 1fr);
    }

    #pagination {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 700px) {
    #list1{
        display: none;
    }

    .fa-chevron-right, .fa-chevron-left{
        visibility: hidden;
    }

    .regular .slick-next, .regular .slick-prev {
        width: 50%;
        height: 100%;
    }

    .regular .slick-next{
        right: 0;
    }

    .regular .slick-prev {
        left: 0
    }

    .slick-dots{
        display: none !important;
    }

    .form-container{
        flex-direction: column;
        padding-bottom: 0;
    }

    .form-container form{
        width: 80%;
    }

    #popup-container svg{
        display: none;
    }
}

@media screen and (max-width: 610px){
    #main #goods{
        grid-template-columns: repeat(1, 1fr);
    }
    #pagination {
        grid-column: 1/2;
    }
}

@media screen and (max-width: 580px){

    .top-nav-menu-item:not([id]), #actual-page{
        display: none;
    }

    .menu-btn{
        display: flex;
    }


    #hamburger-menu{
        display: flex;
    }
    #cart-wrapper table th:first-child{
        width: 70%
    }

    #cart-wrapper table th:nth-child(2){
        width: 30%;
    }

    #cart-wrapper table th:last-child{
        display: none;
    }    

    #cart-wrapper table tr:nth-child(2) td:last-child{
        display: none;
    }

    #total-sum{
        display: block;
    }

    #final-order{
        margin-top: 25px;
    }
}

@media screen and (max-width: 435px){
    #socials{
        margin-bottom: 15px;
        display: flex;     
        justify-content: center;
    }

    #soc-net{
        display: none;
    }

    #list2{
        margin: 0 auto;
    }
}